<br><br><br><br><br><br>
<div class="container">
    <center><h1 style="color:red;">Welcome to TutoRails</h1><center>
    <center><a class="btn btn-danger" href="/sessions/new">Login</a>
    <a class="btn btn-danger" href="/students/new">New Student</a>
    <a class="btn btn-danger" href="/subjects/">Subjects</a>
    </center>
</div>
