<div class="container">
    <center><h1>Welcome to TutoRails</h1></center><>
    <center><button type="button" class="btn btn-danger"><a href="/sessions/new">New Session</a></button><button type="button" class="btn btn-danger"><a href="/lessons/new">New Lesson</a></button><button type="button" class="btn btn-danger"><a href="/students/new">New Student</a></button><button type="button" class="btn btn-danger"><a href="/tutors/new">New Tutor</a></button></center>
</div>
